<h1>hello form the other side</h1>
<div>
    <h2>{{celebritie.name}}</h2>
    <div>
        {{celebritie.occupation}}
    </div>
    <div>
        {{celebritie.catchPhrase}}
    </div>
</div>
<a href="/celebrities/{{celebritie.id}}/edit">edit!</a>