<h2>Create a new drone</h2>
<form action="/celebrities/new" method="post">
    <label for="name">name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="occupation">occupation:</label><br>
    <input type="text" id="occupation" name="occupation"><br>
    <label for="catchPhrase">catch phrase:</label><br>
    <input type="text" id="catchPhrase" name="catchPhrase"><br>
    <button>Create</button>
</form>