<h1>hello form the other side</h1>
<div>
    <h2>{{movie.title}}</h2>
    <div>
        {{movie.genre}}
    </div>
    <div>
        {{movie.plot}}
    </div>
</div>
<a href="/movies/{{movie.id}}/edit">edit!</a>