<h2>Create a new movie</h2>
<form action="/movies/new" method="post">
    <label for="title">title:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="genre">genre:</label><br>
    <input type="text" id="genre" name="genre"><br>
    <label for="plot">plot:</label><br>
    <input type="text" id="plot" name="plot"><br>
    <button>Create</button>
</form>